<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <h1 class="titles" style="color: white; background-color: green; text-align: center;">
      FIRST STEPS IN VUE.JS
    </h1>
    <div id="app">
      <div v-if="value > 5">Value es mayor que 5</div>
      <div v-else-if="value == 5">es visible</div>
      <div v-else="value < 5">Value es menor que 5</div>

      <ul>
        <li v-for="person in people">{{ person }}</li>
      </ul>

      <div v-html="insertHtml"></div>

    </div>

    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript" src="practica.js"></script>
  </body>
</html>
