<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <style>
    .piramide {
      width: 500px;
    }
    .error {
      color: red;
    }
    .no_error {
      color: blue;
    }
  </style>
  <body>
    <h1
      class="titles"
      style="color: white; background-color: green; text-align: center"
    >
      VUE - ROUTES Y COMPONENTS
    </h1>
    <div class="container">
      <div id="app">
        <div class="form-group">
          <label for="">Nombre</label>
          <input  class="form-control" type="text" v-model="filterField" />
        </div>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="">Edad</label>
              <input  class="form-control" type="text" placeholder="Ingrese edad"  v-model="filterAgeField" />
            </div>
          </div>
          <div class="col-6">
            <label for="">Tipo de Filtro</label>
            <br>
            <select class="form-control" v-model="selectAgeField">
              <option value="<">&#60;</option>
              <option value=">">&#62;</option>
              <option value="<=">&#60;=</option>
              <option value=">=">&#62;=</option>
              <option value="==">=</option>
            </select>
          </div>
          <!-- <div class="form-group">
            <label for="">Edad</label>
            <input  class="form-control" type="text" placeholder="Ingrese edad"  v-model="filterAgeField" />
          </div> -->
        </div>

        <div class="form-group">
          <label for="">Activos</label>
          <input   type="checkbox" v-on:click="filterFieldInactive = 0" v-model="filterFieldActive" />
        </div>
        <div class="form-group">
          <label for="">Inactivos</label>
          <input   type="checkbox" v-on:click="filterFieldActive = 0" v-model="filterFieldInactive" />
        </div>

        <table class="table">
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Activo</th>
          </tr>
          <tr v-show="filter(person)" v-for="person in people">
            <td>{{ person.name }}</td>
            <td>{{ person.surname }}</td>
            <td>{{ person.age }}</td>
            <td>{{ person.active }}</td>
          </tr>
        </table>
      </div>
    </div>

    <script type="text/javascript" src="vue.js"></script>
    <script
      type="text/javascript"
      src="components/ListAlertPropsDefault.js"
    ></script>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          languages: ["Javascript", "c++", "html", "python", "kotlin"],
          filterField: "",
          filterAgeField: "",
          selectAgeField: "==",
          filterFieldInactive: false,  /* los checkbox estan en false, es que estan desactivados. */
          filterFieldActive: 0,
          people: [
            { name: "Andres", surname: "Cruz", age: 28, active: true },
            { name: "Juan", surname: "Flores", age: 27, active: true },
            { name: "Andres", surname: "Cruz", age: 24, active: false },
            { name: "Elena", surname: "Chavez", age: 29, active: true },
            { name: "Pepe", surname: "Cruz", age: 21, active: true },
            { name: "Andres", surname: "Cruz", age: 28, active: false },
            { name: "Andres", surname: "Cruz", age: 28, active: true },
            { name: "Andres", surname: "Cruz", age: 28, active: true },
            { name: "Juan", surname: "Flores", age: 27, active: true },
            { name: "Andres", surname: "Cruz", age: 24, active: false },
            { name: "Elena", surname: "Chavez", age: 29, active: true },
            { name: "Pepe", surname: "Cruz", age: 21, active: true },
            { name: "Andres", surname: "Cruz", age: 28, active: false },
            { name: "Andres", surname: "Cruz", age: 28, active: true },
          ],
        },
        methods: {
          filter(person) {
            console.log(person.name + " " + this.filterFieldActive);

            // ---SOLUCION 1
            // var show = true;
            // indexOf-> si no hay coincidencias devuelve un -1
            // if(person.name.toLocaleLowerCase().indexOf(this.filterField.toLocaleLowerCase()) < 0)
            // show = false; /* el elemento no es visible */
            // else if (person.active == false && this.filterFieldActive)
            // show = false; /* el elemento no es visible */
            // else if (person.active == true && this.filterFieldInactive)
            // show = false; /* el elemento no es visible */
            // return show;


            // ---SOLUCION 2
            // var show = true;
            // // indexOf-> si no hay coincidencias devuelve un -1
            // if(person.name.toLocaleLowerCase().indexOf(this.filterField.toLocaleLowerCase()) < 0)
            // show = false; /* el elemento no es visible */

            // if(this.filterAgeField !="" && person.age != this.filterAgeField)
            // show = false; /* el elemento no es visible */
            
            // else if (person.active == false && this.filterFieldActive)
            // show = false; /* el elemento no es visible */
            // else if (person.active == true && this.filterFieldInactive)
            // show = false; /* el elemento no es visible */
            // return show;

            // ---SOLUCION 3 ---FILTRO PARA LAS EDADES COMPUESTAS
            var show = true;
            // indexOf-> si no hay coincidencias devuelve un -1
            if(person.name.toLocaleLowerCase().indexOf(this.filterField.toLocaleLowerCase()) < 0)
            show = false; /* el elemento no es visible */

            // if(this.filterAgeField !="" && person.age != this.filterAgeField)
            console.log(person.age + this.selectAgeField + this.filterAgeField)
            if(this.filterAgeField != "" )
            show = eval(this.filterAgeField + this.selectAgeField + person.age); /* el elemento no es visible */
            
            else if (person.active == false && this.filterFieldActive)
            show = false; /* el elemento no es visible */
            else if (person.active == true && this.filterFieldInactive)
            show = false; /* el elemento no es visible */
            return show;
          },
        },
      });
    </script>
    <!-- <script type="text/javascript" src="app.js"></script> -->
  </body>
</html>
